.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 620px;
  }

  @media @desktop-widths {
    width: 940px;
  }
}

.bg-skew(@size: 100px, @deg: 176deg) {
  background-image: linear-gradient(@deg, transparent, transparent @size, #f2f2f2 @size, #f2f2f2);
}
