.advantages {
  padding-top: 39px;
}

.advantages__wrapper {
  .container();
}

.advantages__text {
  margin: 0;
  margin-bottom: 28px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #283645;
  text-align: center;

  &:nth-of-type(2) {
    margin-bottom: 0;
  }
}

.advantages__list {
  .bg-skew(60px, 174deg);
  padding-top: 0;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.advantages__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
}

@media @tablet-widths {
  .advantages {
    padding-top: 50px;
  }

  .advantages__text {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px;

    &:nth-of-type(2) {
      padding: 0 80px;
    }
  }

  .advantages__list {
    .bg-skew(60px, 176deg);
  }
}
