.contacts {
  position: relative;
  z-index: 0;
  background-color: #fff;
}

.contacts__text {
  .container();
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: #283645;
  text-align: center;
}

.contacts__list {
  .container();
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 20px;
  text-align: center;

  b {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #283645;
  }

  a {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    color: #d22856;
    text-decoration: none;
  }
}

.contacts__map {
  .container();
  position: relative;
  z-index: -1;
  height: 200px;
  line-height: 0;
  overflow: hidden;
}
