.form {
}

.form__full-name-group,
.form__contacts-group {
  label {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: @color-pink;
    text-transform: uppercase;
  }

  input {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-darkblue;
  }
}

.form__group-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @color-pink;
  text-transform: uppercase;
}

.form__achievements-group {
  background-color: @bg-lightgray;

  label {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-darkblue;
  }
}

.form__app-group {
  background-color: @bg-lightgray;

  label {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-darkblue;
  }
}

.form__text-group {
  textarea {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: @color-darkblue;
  }
}

.form__send-btn {
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @color-darkblue;

  span {
    color: @color-pink;
  }
}
