.promo {
  padding-top: 464px;
  padding-bottom: 30px;
  background-color: #1d2631;
  background-clip: content-box;
  color: #fff;

  p {
    margin: 0;
    margin-top: 23px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}

.promo__wrapper {
  .container();
  position: relative;
  margin: 0 auto;
  text-align: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -287px;
    width: 258px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 258px auto;

    @media @retina {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
  }
}

.promo__text {
  display: none;
  margin: 0;
}

.promo__download {
  margin-top: 29px;
  padding-left: 36px;
  padding-right: 36px;
}

.promo__market-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.promo__market-item {
  margin-right: 33px;

  a {
    .text-hidden();
    display: block;
    width: 47px;
    height: 57px;
  }

  &--apple {
    a {
      background: url("../img/logo-apple.svg") no-repeat bottom;
      background-size: 47px auto;
    }
  }

  &--android {
    a {
      background: url("../img/logo-android.svg") no-repeat bottom;
      background-size: 43px auto;
    }
  }

  &--windows {
    margin-right: 0;

    a {
      background: url("../img/logo-microsoft.svg") no-repeat bottom;
      background-size: 44px auto;
    }
  }
}

@media @tablet-widths {
  .promo {
    display: flex;
    position: relative;
    width: 620px;
    margin: 0 auto;
    padding-top: 202px;
    padding-bottom: 111px;
    background-color: transparent;

    p {
      margin-top: 36px;
      margin-right: 3px;
      padding: 0;
      font-size: 18px;
    }
  }

  .promo__wrapper {
    position: static;
    width: 300px;
    margin: 0;

    &::before {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      z-index: -1;
      width: 660px;
      height: 545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-size: 700px auto;

      @media @retina {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }
  }

  .promo__text {
    display: block;
    margin-bottom: 2px;
    padding: 0 40px;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
  }

  .promo__download {
    margin-bottom: 15px;
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media @desktop-widths {
  .promo {
    width: 940px;
    padding-top: 219px;
    padding-bottom: 124px;

    p {
      width: 310px;
      margin-top: 55px;
    }
  }

  .promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 330px;

    &::before {
      width: 660px;
      height: 645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: -263px;
      background-size: 1050px auto;

      @media @retina {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  .promo__text {
    width: 300px;
    margin-bottom: 28px;
    padding: 0;
    font-size: 50px;
    line-height: 58px;
  }

  .promo__download {
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 35px;
    padding: 13px 28px 16px;
    font-size: 21px;
    line-height: 21px;
  }

  .promo__market-list {
    width: 300px;
  }
}
