.reviews {
  position: relative;
  padding-bottom: 60px;
  background-color: #fff;
}

.reviews__wrapper {
  .container();
}

.reviews__item {
  display: none;
  margin: 0;
  padding-top: 42px;
  text-align: center;

  &--visible {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: @color-darkblue;
    quotes: "\00ab" "\00bb";

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

.reviews__author-name {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000;

  span {
    display: none;
  }
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__pagination {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}

@media @tablet-widths {
  .reviews__item {
    padding-top: 54px;

    p {
      margin-bottom: 35px;
      padding: 0;
      font-size: 18px;
    }
  }

  .reviews__author-name {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;

    span {
      display: block;
      margin-top: 2px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      color: @color-darkblue;
    }
  }
}

@media @desktop-widths {
  .reviews {
    position: static;
    padding-bottom: 0;
  }

  .reviews__wrapper {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 72px;
      left: 50%;
      width: 79px;
      height: 63px;
      background: url("../img/icon-quotes.svg") no-repeat;
      background-size: 79px 63px;
      transform: translateX(-50%);
    }
  }

  .reviews__item {
    padding-top: 186px;

    p {
      margin-bottom: 37px;
      padding: 0 78px;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }

  .reviews__author-name {
    font-size: 24px;

    span {
      margin-top: 2px;
      font-size: 18px;
    }
  }

  .reviews__prev {
    .reviews-button();
    left: 0;

    .reviews__prev-svg {
      fill: #283645;
      fill-opacity: 0.3;
    }

    &:hover {
      .reviews__prev-svg {
        fill-opacity: 0.6;
      }
    }

    &:active {
      .reviews__prev-svg {
        fill-opacity: 0.1;
      }
    }
  }

  .reviews__next {
    .reviews-button();
    right: 0;

    .reviews__next-svg {
      fill: #283645;
      fill-opacity: 0.3;
    }

    &:hover {
      .reviews__next-svg {
        fill-opacity: 0.6;
      }
    }

    &:active {
      .reviews__next-svg {
        fill-opacity: 0.1;
      }
    }
  }

  .reviews__pagination {
    display: none;
  }
}
