.reviews {
  position: relative;
  padding-bottom: 60px;
  background-color: #fff;
}

.reviews__wrapper {
  .container();
}

.reviews__item {
  display: none;
  margin: 0;
  padding-top: 42px;
  text-align: center;

  &--visible {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #283645;
    quotes: "\00ab" "\00bb";

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

.reviews__author-name {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000;

  span {
    display: none;
  }
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__pagination {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}

@media @tablet-widths {
  .reviews__item {
    padding-top: 52px;

    p {
      margin-bottom: 35px;
      padding: 0;
      font-size: 18px;
    }
  }

  .reviews__author-name {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;

    span {
      display: block;
      margin-top: 2px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      color: #283645;
    }
  }
}

@media @desktop-widths {
  .reviews {
    position: static;
    padding-bottom: 0;
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__item {
    padding-top: 185px;

    p {
      padding: 0 78px;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }

  .reviews__author-name {
    font-size: 24px;

    span {
      margin-top: 2px;
      font-size: 18px;
    }
  }

  .reviews-button() {
    display: block;
    position: absolute;
    top: 210px;
    width: 25px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    /* dev */
    background-color: red;
  }

  .reviews__prev {
    .reviews-button();
    left: 0;
    background: ;
  }

  .reviews__next {
    .reviews-button();
    right: 0;
    background: ;
  }

  .reviews__pagination {
    display: none;
  }
}
