.social-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

@media @tablet-widths {
  .social-links {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

@media @desktop-widths {
  .social-links {
    margin-left: 7px;
  }
}
