.user-posts {
  background-color: #fff;
}

.user-posts__img {
  background-color: @bg-lightgray;
}

.user-posts__text-wrapper {
  background-color: @bg-lightgray;
}

.user-posts__user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: @color-darkblue;
}

.user-posts__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: @color-darkblue;
  text-transform: uppercase;
}

.user-posts__comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @color-darkblue;
}

.user-posts__like-counter {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: @color-pink;
  text-transform: uppercase;
}
